.info-section {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    /* supaya tinggi nya ngikutin layar */
}

.background-svg {
    /* content: ""; */
    background-image: url("/assets/svg/blue.svg");
    /* Ganti path ke tempat file SVG kamu */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.info-section .container {
    position: relative;
    z-index: 2;
}

.info-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: white; /* supaya solid, tidak transparan */
    gap: 12px;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
}

.info-box:hover {
    transform: translateY(-5px); /* naik 5px */
}

.info-box img,
.info-box iframe {
    border-radius: 6px;
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.info-box .info-text {
    flex: 1;
    overflow: hidden;
}

.info-box .info-text h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.info-box .info-text p {
    font-size: 0.875rem;
    color: #444;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 768px) {
    .info-image {
        width: 90px;
        height: 90px;
    }

    .info-content h4 {
        font-size: 1.05rem;
    }

    .info-content p {
        font-size: 0.9rem;
    }
}
